[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=gestures
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=1

Name=Gestures Daemon
Name[ast]=Degorriu de xestos
Name[bs]=Demon gestova
Name[cs]=Démon gest
Name[de]=Gesten-Dienstprogramm
Name[es]=Demonio para gestos
Name[et]=Žestide deemon
Name[fi]=Elepalvelu
Name[fr]=Démon des mouvements
Name[ga]=Deamhan Gothaí
Name[gl]=Servizo de acenos
Name[hu]=Gesztusok démon
Name[ko]=제스처 데몬
Name[mr]=इशारे डीमन
Name[nl]=Daemon voor gebaren
Name[pl]=Demon gestów
Name[pt]=Servidor de Gestos
Name[pt_BR]=Servidor de gestos
Name[ro]=Demon de gesturi
Name[sk]=Démon gest
Name[sv]=Gestdemon
Name[tr]=Hareket Yardımcısı
Name[uk]=Фонова служба жестів
Name[x-test]=xxGestures Daemonxx
Comment=Handle touch gestures
Comment[bs]=Upravlja dodirnim gestovima
Comment[de]=Verarbeitet Gesten auf Touch-Geräten
Comment[es]=Maneja los gestos táctiles
Comment[et]=Puutežestide haldamine
Comment[fi]=Kosketuseleiden hallinta
Comment[fr]=Gérer les mouvements de toucher 
Comment[ga]=Láimhseáil gothaí tadhaill
Comment[gl]=Xestionar os xestos táctiles
Comment[hu]=Érintés gesztusok kezelése
Comment[ko]=터치 제스처 처리
Comment[mr]=स्पर्श इशारे हाताळा
Comment[nl]=Aanraakgebaren behandelen
Comment[pl]=Obsługa gestów dotykowych
Comment[pt]=Lida com os gestos por toque
Comment[pt_BR]=Lida com gestos por toque
Comment[ro]=Manipulează gesturile tactile
Comment[sk]=Spravovať dotykové gestá
Comment[sv]=Hantera pekgester
Comment[tr]=Tokunma hareketlerini ele alın
Comment[uk]=Обробних жестів, що фіксуються сенсорним пристроєм
Comment[x-test]=xxHandle touch gesturesxx
